
.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 1350px;
  height: 75px;
  color: MediumAquamarine;
  justify-content: space-between;
}

h4 {
  display: inline;
  padding: 30px 10px;
}

.logo {
  padding: 0px 850px 0px 30px;
  border: 1px solid black;
  display: inline-block;
}

.navigation {
  display: inline-block;
  margin: 0 auto;
}

.maincontainer {
  display: flex;
  width: 1350px;
  align-content: space-around;
}

div {
  border: 1px solid black;
}

.column.large {
  flex-direction: column;
  height: 630px;
  width: 630px;
  margin-right: 50px;
}

.column.medium {
  flex-direction: column;
  height: 300px;
  width: 300px;
}

.column.small {
  flex-direction: column;
  width: 240px;
  width: 240px;
}

{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

font-family: Georgia;
font-size: 17px;
color: black;

font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;

The text on the main story should have the same values as above, but a font-size of 40px.
